@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

body {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  display: grid;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
  place-items: center;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #f0e130;
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 90%;
}

.text-box {
  width: 45%; /* Each box will take up about half of the container's width */
  height: 300px; /* Fixed height for both boxes */
  padding: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}

textarea {
  width: 95%;
  height: 90%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  position: absolute;
  resize: none; /* Disable resizing */
  background-color: rgba(255, 255, 255, 0.412);
}


.submit-button {
  background: #f0e130;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  align-self: center;
  margin: 10px 0;
}

.submit-button:hover {
  background: #e6d12a;
}








